{% extends "base.html"%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/tienda.css' %}">
{% endblock %}

{% block content %}
<div class="container py-5">
    <!-- Indice de busqueda por secciones -->
    <div class="row">

        <div class="col-lg-3">
            <h1 class="h2 pb-4"></h1>
            <ul class="list-unstyled accordion">
                {% for seccion in secciones %}
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none">
                        {{ seccion.nombre }}
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                        {% for categoria in categorias %}
                        {% if categoria.seccion_id == seccion.id %}
                        <li><a class="text-decoration-none filtroCat" categoria="{{categoria.id}}"
                                href="#">{{categoria.nombre}}</a></li>
                        {% endif %}
                        {% endfor %}

                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- Indice para busqueda por generos -->
        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 link-dark text-decoration-none filtroGen shop-top-menu" genero="H"
                                href="#">Hombre</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 link-dark text-decoration-none filtroGen shop-top-menu" genero="M"
                                href="#">Mujer</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 link-dark text-decoration-none filtroGen shop-top-menu" genero="X"
                                href="#">Unisex</a>
                        </li>
                    </ul>
                </div>
                <!-- Ordenación de los productos -->
                <div class="col-md-6 pb-4">
                    <div class="d-flex">
                        <select id="orden" class="form-control">
                            <option selected="true" sort="alfabetico">A to Z</option>
                            <option sort="precioCaro">Precio: de más caro a más barato</option>
                            <option sort="precioBajo">Precio: de más barato a más caro</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Muestra de los productos de la tienda -->
            <div class="row" id="contenedorProductos">
                <!-- Aquí se muestran todos los productos cargados mediante js -->
                <div class="d-flex justify-content-center">
                    <div class="spinner-border loader" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>

            </div>

            <!-- Modal para añadir productos a la tienda -->
            <div class="modal fade" id="modalTalla" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¿Que talla quieres?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div id="modal-body" class="modal-body">
                            
                        </div>
                        <div class="modal-footer">
                            <button id="modal-anyadir" prod="" talla="" data-bs-dismiss="modal" type="button" class="btn btn-success text-white">Añadir al carrito</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Paginación de los productos -->
            <div id="pagination" class="pagination pagination-lg justify-content-end">
                <button id="pagAnt" type="button" class="btn rounded-0 mr-3 shadow-sm border-top-0 border-left-0 btn-lg"><</button>
                <button id="pag1" type="button"class="btn rounded-0 mr-3 shadow-sm border-top-0 border-left-0 btn-lg btn-success">1</button>
                <button id="pag2" type="button"class="btn rounded-0 mr-3 shadow-sm border-top-0 border-left-0 btn-lg">2</button>
                <button id="pagSig" type="button"class="btn rounded-0 mr-3 shadow-sm border-top-0 border-left-0 btn-lg">></button>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block script%}
<script src="{% static '/js/tienda.js' %}" type="module"></script>
{% endblock %}