{% extends "base.html"%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/tienda.css' %}">
{% endblock %}

{% block content %}
{% with param=request.GET %}
{% endwith %}
<div class="container py-5">
    <!-- Indice de busqueda por secciones -->
    <div class="row">

        <div class="col-lg-3">
            <h1 class="h2 pb-4">Secciones</h1>
            <ul class="list-unstyled accordion">
                {% for seccion in secciones %}
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        {{ seccion.nombre }}
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                        {% for categoria in categorias %}
                            {% if categoria.seccion_id == seccion.id %}
                                <li><a class="text-decoration-none filtroCat" categoria="{{categoria.id}}" href="#">{{categoria.nombre}}</a></li>
                            {% endif %}
                        {% endfor %}
                        
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- Indice para busqueda por generos -->
        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3 sinFiltro" href="#">Todos</a>
                        </li>
                        <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none filtroGen" genero="H" href="#">Hombre</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none filtroGen" genero="M" href="#">Mujer</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none filtroGen" genero="X" href="#">Unisex</a>
                        </li>
                    </ul>
                </div>
                <!-- Ordenación de los productos -->
                <div class="col-md-6 pb-4">
                    <div class="d-flex">
                        <select id="orden" class="form-control">
                            <option sort="alfabetico">A to Z</option>
                            <option sort="precioCaro">Precio: de más caro a más barato</option>
                            <option sort="precioBajo">Precio: de más barato a más caro</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Muestra de los productos de la tienda -->
            <div class="row" id = "contenedorProductos">
                <!-- Aquí se muestran todos los productos cargados mediante js --> 
            </div>

            <!-- Paginación de los productos -->
            <div div="row">
                <ul class="pagination pagination-lg justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#"
                            tabindex="-1">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
                            href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<!-- End Content -->
{% endblock %}

{% block script%}
    <script src="{% static '/js/tienda.js' %}"></script>
{% endblock %}