{% extends "base.html"%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/contacto.css' %}">
{% endblock %}

{% load crispy_forms_tags %}<!-- Carga de crispy forms para el formulario -->

{% block content %}
<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Contactanos</h1>
        <p>
            Conéctate con nosotros: Tu estilo, tus preguntas, nuestra atención
        </p>
    </div>
</div>





<!-- Contacto -->
<div class="container py-2">
    <div class="row py-5">
        {% if "valido" in request.GET %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
        </svg>
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
              Correo enviado correctamente, en breves le contactaremos al correo indicado con su respuesta.
              Muchas gracias por contactar con nosotros ^^.
            </div>
          </div>
        {% endif %}
        {% if "novalido" in request.GET %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
                Parece que ha habido algún problema al enviar el correo de contacto.
                Lo sentimos, parece que ha habido algún problema, vuelve a intentarlo en otro momento o contacta al correo electronico: odacrem.daw@gmail.com
            </div>
          </div>
        {% endif %}
        <form class="col-md-9 m-auto" method="post" role="form">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    {{formulario.nombre |as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-3">
                    {{formulario.email|as_crispy_field}}
                </div>
            </div>
            <div class="mb-3">
                {{formulario.asunto|as_crispy_field}}
            </div>
            <div class="mb-3">
                {{formulario.contenido|as_crispy_field}}
            </div>
            <div class="row">
                <div class="col text-end mt-2">
                    <input type="submit" value = "Contactar" class="btn btn-success btn-lg px-3 ">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block script%}
{% endblock %}