{% extends "base.html"%}
{% load static %}

{% block css %}

{% endblock %}

{% load crispy_forms_tags %}<!-- Carga de crispy forms para el formulario de logeo -->

{% block content %}
<div class="container py-4">
  <div class="row justify-content-center">
    <!-- Tarjeta de productos en el carrito -->
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <h5>Registro de usuario</h5>
        </div>
        <div class="card-body ">
            <div class = "contenedorFormulario">
                <form method="post" class="textoFormulario" action>
                    {% csrf_token %}
            
                        {{ form | crispy }}
                        <div>
                          <a href="{% url 'Login' %}" class="d-flex justify-content-end link-secondary">¿Ya tienes una cuenta?</a>
                        </div>
                        <button type="submit" class="btn btn-success ">Regístrate</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
</div>
{% endblock %}

{% block script%}
{% endblock %}