/* Tienda */
.shop-top-menu:hover {
    color: #69bb7e;
}

/* Producto */
.product-wap {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
}

.product-wap .product-color-dot.color-dot-red {
    background: #f71515;
}

.product-wap .product-color-dot.color-dot-blue {
    background: #6db4fe;
}

.product-wap .product-color-dot.color-dot-black {
    background: #000000;
}

.product-wap .product-color-dot.color-dot-light {
    background: #e0e0e0;
}

.product-wap .product-color-dot.color-dot-green {
    background: #0bff7e;
}

.card.product-wap .card .product-overlay {
    background: rgba(0, 0, 0, .2);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.card.product-wap:hover .card .product-overlay {
    visibility: visible;
    opacity: 1;
}

.card.product-wap a {
    color: #000;
}

/* Acordeon */
.accordion a {
    color: #000;
}

.accordion a:hover {
    color: #69bb7e;
}

/* filtros seleccionados */
.selectedGen{
    color: #f71515 !important;
}
.selectedGen a:hover {
    color: #f71515 !important;
}

.selectedCat{
    color: #f71515 !important;
}

.selectedCat a:hover {
    color: #f71515 !important;
}

.loader{
    width: 7rem; 
    height: 7rem;
    color: #69bb7e;
}

.slick-prev:before, .slick-next:before{
    color:black !important;
}



